<div class="answer__div-answer-details-container">
  <img [src]="img" class="answer__img-answer-author-profile-img" />
  <div class="answer__div-answer-details">
    <h4>
      {{ answer.user.username }}
    </h4>
    <span class="card-details">Publicado hace {{ timeSincePublished }}</span>
  </div>
  <div>
    <span>icon</span>
    Fijado por mods
  </div>
</div>
<div class="answer__div-answer-text-container">
  <div *ngIf="answer.pinned" class="answer__div-accepted-badge">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path
        d="M9.99997 15.586L6.70697 12.293L5.29297 13.707L9.99997 18.414L19.707 8.70697L18.293 7.29297L9.99997 15.586Z"
        fill="white"
      />
    </svg>
  </div>
  <!-- TODO: make ngstyle thing cleaner -->
  <div
    *ngIf="!answer.pinned"
    [ngStyle]="{ width: '40px', 'flex-shrink': 0 }"
  ></div>
  <div>
    {{ answer.answer }}
    <div class="answer__div-options">
      <div class="answer__div-vote-options">
        <button
          (click)="giveVote(true)"
          [ngClass]="this.answer?.userVote ? 'has-voted' : 'ghost-class'"
          class="answer__btn-positive-vote md-btn-text"
        >
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
              d="M4 21L5 21L5 8L4 8C2.896 8 2 8.896 2 10L2 19C2 20.104 2.896 21 4 21ZM20 8L13 8L14.122 4.632C14.554 3.337 13.59 2 12.225 2L12 2L7 7.438L7 21L18 21L21.912 12.404C21.937 12.291 21.976 12.114 22 12L22 10C22 8.896 21.104 8 20 8Z"
              fill="white"
            />
          </svg>
          {{ answer.totalPositiveVotes }}
        </button>
        <button
          (click)="giveVote(false)"
          [ngClass]="
            this.answer?.userVote === false ? 'has-voted' : 'ghost-class'
          "
          class="answer__btn-negative-vote md-btn-text"
        >
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
              d="M20 3L6.693 3C5.864 3 5.112 3.521 4.82 4.298L2.063 11.649C2.021 11.761 2 11.88 2 12L2 14C2 15.103 2.897 16 4 16L9.612 16L8.49 19.367C8.287 19.975 8.389 20.649 8.764 21.169C9.14 21.689 9.746 22 10.388 22L12 22C12.297 22 12.578 21.868 12.769 21.64L17.469 16L20 16C21.103 16 22 15.103 22 14L22 5C22 3.897 21.103 3 20 3ZM11.531 20L10.386 20L11.948 15.316C12.051 15.011 11.999 14.676 11.811 14.415C11.623 14.154 11.321 14 11 14L4 14L4 12.181L6.693 5L16 5L16 14.638L11.531 20ZM18 14L18 5L20 5L20.001 14L18 14Z"
              fill="#EC555E"
            />
          </svg>
          {{ answer.totalNegativeVotes }}
        </button>
      </div>
      <button>Pin it</button>
    </div>
  </div>
</div>
