@use '../../../styles/abstracts/variables';

.app-inner-html {
    pre {
        padding: 10px;
        background-color: variables.$grey-1;
        border: 1px solid variables.$grey-3;
        border-radius: 12px;
    }
}