<div>
  Red background
  <div>
    <div class="flex">
      <img [ngStyle]="{ width: '50px' }" [src]="courseImg" />
      <h2>{{ title }}</h2>
      <!-- flex grow here -->
      <button>Siguiendo</button>
    </div>

    <hr />
    <div class="flex">
      <span>INPUT</span>
      <!-- button title changes depending on chosen option  -->
      <button>Ordenar por</button>
      <div>
        <button (click)="orderByPinned()">Fijados</button>
        <button (click)="orderByQuestionCount()">Más preguntas</button>
      </div>
    </div>
  </div>
</div>
<div class="flex">
  <app-themecard *ngFor="let theme of themes" [theme]="theme"></app-themecard>
</div>
