<div class="app-courseview__div-angular-color">
  <div class="app-courseview__div-content-wrapper">
    <div class="app-courseview__div-upper-content">
      <div class="app-courseview__div-img-wrapper">
        <img [src]="courseImg" />
      </div>
      <h2>{{ title }}</h2>
      <button>Siguiendo</button>
    </div>

    <hr />
    <div class="app-courseview__div-lower-content">
      <span>INPUT</span>
      <!-- button title changes depending on chosen option  -->
      <button>Ordenar por</button>
      <div>
        <button (click)="orderByPinned()">Fijados</button>
        <button (click)="orderByQuestionCount()">Más preguntas</button>
      </div>
    </div>
  </div>
</div>
<div class="themecards-container">
  <app-themecard *ngFor="let theme of themes" [theme]="theme"></app-themecard>
</div>
