<div class="questions__div-pinned-questions">
  <h2>Discusiones fijadas</h2>
  <app-question-card
    *ngFor="let question of pinnedQuestions"
    [question]="question"
    [isPinned]="true"
  ></app-question-card>
</div>

<div class="questions__div-questions">
  <div class="questions__div-orderby-options">
    <button
      (click)="orderByPositiveVotes()"
      [ngClass]="status ? 'active' : 'ghost'"
    >
      <h2>En tendencia</h2>
    </button>
    <button (click)="orderByDate()" [ngClass]="!status ? 'active' : 'ghost'">
      <h2>Más recientes</h2>
    </button>
  </div>
  <app-question-card
    *ngFor="let question of questions"
    [question]="question"
  ></app-question-card>
</div>
