@use 'src/styles/abstracts/variables';

.follow-button {
    &__btn {
        &-container {
            padding: 9px 16px;
            border-radius: 10px;
            display: inline-flex;
            align-items: center;
            gap: 8px;
            background-color: transparent;
            border: 1px solid variables.$grey-4;
            &-following {
                padding: 10px 16px;
                color: variables.$primary-color;
                border-color: variables.$white;
                 path {
                    fill: variables.$primary-color;
                }
                
            }
        }
    }
}