<h1>Escribe tu pregunta sobre {{ theme.title }} de {{ course.name }}</h1>
<hr class="add-question__hr" />
<form
  #newQuestionForm="ngForm"
  (ngSubmit)="onSubmit()"
  class="add-question__form"
>
  <div class="add-question__div-title-container">
    <label for="title"><h4>Título pregunta</h4></label>
    <input
      id="title"
      name="title"
      type="text"
      [(ngModel)]="newQuestion.title"
    />
  </div>
  <div class="add-question__div-category-container">
    <label for="theme"><h4>Categoría</h4></label>
    <select
      id="theme"
      name="category"
      type="select"
      [(ngModel)]="newQuestion.temaId"
    >
      <option *ngFor="let theme of themeList" value="{{ theme.id }}">
        {{ theme.title }} - {{ theme.description }}
      </option>
    </select>
  </div>
  <div class="add-question__div-content-container">
    <h4>Contenido</h4>
    <app-tiptap (emitHtml)="saveQuestion($event)"></app-tiptap>
  </div>
</form>
